.places__title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  width: 90%;
  align-self: start;
  white-space: nowrap;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .places__title {
    width: 95%;
    font-size: 42px;
    line-height: 46px;
    grid-row: 1;
    grid-column: 1;
    margin: 0;
    white-space: normal;
    text-rendering: auto;
    padding: 0 5px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .places__title {
    padding: 0;
    width: 70%;
    font-size: 72px;
    line-height: 76px;
  }
}
