.places__place {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .places__place {
    max-width: 768px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(auto-fit, minmax(340px, 352px));
    row-gap: 46px;
    column-gap: 14px;
  }
}

@media screen and (min-width: 1024px) {
  .places__place {
    max-width: 1024px;
    grid-template-columns: repeat(auto-fit, minmax(440px, 456px));
    padding: 0;
    row-gap: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .places__place {
    max-width: 1280px;
    grid-template-columns: repeat(auto-fit, minmax(460px, 484px));
    column-gap: 16px;
  }
}
