.footer {
  margin: 64px auto 16px auto;
  padding: 0;
  width: 90%;
  display: flex;
  gap: 48px;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .footer {
    margin: 88px auto 12px auto;
    width: 93%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin: 92px auto 24px auto;
    width: 90%;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 92%;
  }
}
